doctype html
html
  head
    meta(charset="utf-8")
    block title
    meta(name="author", content="Tes Sal")
    meta(name="description", content="Simple, realtime, multiplayer, competitive music listening game. Guess the song and prove your music knowledge!")
    meta(property="og:description", content="Simple, realtime, multiplayer, competitive music listening game. Guess the song and prove your music knowledge!")
    meta(property="og:image", content="https://dl.dropbox.com/u/58444696/binb-logo-200.png")
    meta(property="og:title", content="jembe")
    meta(property="og:type", content="game")
    meta(property="og:url", content="https://jembe.herokuapp.com/")
    link(href="//fonts.googleapis.com/css?family=Droid+Sans:400,700", rel="stylesheet")
    link(href="/static/css/bootstrap.min.css", rel="stylesheet")
    link(href="/static/css/style.css", rel="stylesheet")
    
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          block brand
            a.brand(href="/")
              .icons.logo #{slogan}
          block nav
    .container
      block sections
      footer
        #footer-inner
          #copy &copy; 2012-2016 Tes Sal
          
    block media
    block scripts
      script(src="//cdn.jsdelivr.net/jquery/2.2/jquery.min.js")
      script(src="/static/js/bootstrap.min.js")
    
